/* Text Color */
.text-gray-100 {
    color: #121f3e66;
  }
  
  /* Text size */
  .fs-7 {
    font-size: 14px !important;
  }
  
  .fs-7-5 {
    font-size: 13px !important;
  }
  .fs-8 {
    font-size: 12px !important;
  }
  /* font weight */
  .fw-500 {
    font-weight: 500 !important;
  }
  .fw-7 {
    font-weight: 700 !important;
  }