#wrapper {
  display: flex;
  scrollbar-width: thin;
}
.sidebar-items {
  margin-left: 2rem;
}

.covid-card-container {
  width: 82%;

  .covid-info-card {
    background-image: url("../assets/img/covid-card-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .check-btn {
    background-color: #0075ff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 10px;
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 260px;
    min-height: 100vh;

    .scroll-height {
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        visibility: hidden;
      }
    }

    & :hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }
  }
}
